.card{
    background-color: #fff;
    color:black;
}
.title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 70px;
    color: #fff;
    user-select: none;
    background: linear-gradient(-135deg, #32434b, #32434b);
  }
  table{
      width:100%;
  }
  table th, table td{
      padding:15px;
      border: 1px solid black;
      text-align:center;
  }
  table th{
      background: #5A7987;
      color: white;
  }
  button{
    margin: 15px;
}