<p-toolbar>
  <ng-template pTemplate="left">
    <p-button label="Ajouter" icon="pi pi-plus" (click)="handleAddAction()" class="m-2"></p-button>
    <p-button label="Attribuer role" icon="pi pi-plus" class="m-2"></p-button>
     </ng-template>
  <ng-template>
   <div class="my-2">
     <h4>Utilisateurs</h4>
   </div>
  </ng-template>
</p-toolbar>
<hr>
<div class="card">
  <div class="input-group">
    <label class="input-group-text">Filtrer</label>
    <input type="text" class="form-control" (keyup)="applyFilter($event)" #input width="550px">
  </div>
  <hr>
  <!--
  <div class="card-header">Liste des utilisateurs</div>
  <hr> -->
  <div class="card-bodt">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="username">
        <th class="th" mat-header-cell *matHeaderCellDef>Username</th>
        <td class="td" mat-cell *matCellDef="let element">{{element?.username}}</td>
    </ng-container>

    <ng-container matColumnDef="matricule">
        <th class="th" mat-header-cell *matHeaderCellDef>Matricule</th>
        <td class="td" mat-cell *matCellDef="let element">{{element?.matricule}}</td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th class="thG" mat-header-cell *matHeaderCellDef>Email</th>
        <td class="tdG" mat-cell *matCellDef="let element">{{element?.email}}</td>
    </ng-container>

    <ng-container matColumnDef="numeroTelephone">
        <th class="th" mat-header-cell *matHeaderCellDef>Numero</th>
        <td class="td" mat-cell *matCellDef="let element">{{element?.numeroTelephone}}</td>
    </ng-container>

      <ng-container matColumnDef="action">
        <th class="th" mat-header-cell *matHeaderCellDef>Action</th>
        <td class="td" mat-cell *matCellDef="let element">
          <div class="flex">
            <button pButton type="button" pTooltip="Modifier"
            icon="pi pi-pencil" class="p-button-rounded p-button-primary mx-2"
            iconPos="left" (click)="handleEditAction(element)"
            tooltipPosition="top" pRipple >
          </button>
          <!-- <button pButton type="button" pTooltip="Ajouter Role"
          icon="bi bi-node-plus" class="p-button-rounded p-button-warning mx-2"
          iconPos="left" (click)="handleAddRoleAction(element)"
          tooltipPosition="top" pRipple >
          </button>
          <button pButton type="button" pTooltip="Retirer Role"
          icon="bi bi-node-minus" class="p-button-rounded p-button-help mx-2"
          iconPos="left" (click)="handleRemoveRoleAction(element)"
          tooltipPosition="top" pRipple >
          </button> -->
          <button pButton type="button" pTooltip="Supprimer"
          icon="bi bi-trash" class="p-button-rounded p-button-danger mx-2"
          iconPos="left" (click)="handleDeleteAction(element)"
          tooltipPosition="top" pRipple >
          </button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="dispayedColumn;sticky:true"></tr>
      <tr mat-row *matRowDef="let row;columns:dispayedColumn"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons ></mat-paginator>
</div>
<!--<p-card>
  <p-table [columns]="cols" dataKey="id" #dt1 [value]="Users" [rows]="5"
           [paginator]="true" [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[5,10,20]"  currentPageReportTemplate="Page {currentPage} sur {totalPages}"
            [paginator]="true" responsiveLayout="scroll" [rowHover]="true"
           [globalFilterFields]="['matricule', 'username', 'email', 'numeroTelephone']">
    <ng-template let-columns pTemplate="header">
      <tr>
        <th style="min-width:10rem" *ngFor="let col of columns" [pSortableColumn]="col.field"
            class="font-weight-bold">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

      </tr>
      <tr>
        <th>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'matricule', 'contains')"
                 [value]="$any(dt1.filters['matricule'])?.value" class="p-column-filter border-bottom-2 w-8rem">
            </span>
        </th>
        <th>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'username', 'contains')"
                 [value]="$any(dt1.filters['username'])?.value" class="p-column-filter border-bottom-2 w-8rem">
            </span>
        </th>
        <th>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'email', 'contains')"
                 [value]="$any(dt1.filters['email'])?.value" class="p-column-filter border-bottom-2 w-8rem">
            </span>
        </th>
        <th>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt1.filter($any($event.target).value, 'numeroTelephone', 'contains')"
                 [value]="$any(dt1.filters['numeroTelephone'])?.value" class="p-column-filter border-bottom-2 w-8rem">
            </span>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user?.matricule}}</td>
        <td class="">{{user?.username}}</td>
        <td>{{user?.email}}</td>
        <td class="">{{user?.numeroTelephone}}</td>
        <td>
          <button pButton type="button" pTooltip="Modifier"
                  icon="pi pi-pencil" class="p-button-rounded p-button-primary mx-2"
                  iconPos="left" (click)="handleEditAction(user)"
                  tooltipPosition="top" pRipple >
          </button>
        </td>
        <td>
          <button pButton type="button" pTooltip="Ajouter Role"
                  icon="bi bi-node-plus" class="p-button-rounded p-button-warning mx-2"
                  iconPos="left" (click)="handleAddRoleAction(user)"
                  tooltipPosition="top" pRipple >
          </button>
        </td>
        <td>
          <button pButton type="button" pTooltip="Retirer Role"
                  icon="bi bi-node-minus" class="p-button-rounded p-button-help mx-2"
                  iconPos="left" (click)="handleRemoveRoleAction(user)"
                  tooltipPosition="top" pRipple >
          </button>
        </td>
        <td>
          <button pButton type="button" pTooltip="Supprimer"
                  icon="bi bi-trash" class="p-button-rounded p-button-danger mx-2"
                  iconPos="left" (click)="handleDeleteAction(user)"
                  tooltipPosition="top" pRipple >
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>-->
