.example-button-toggle-label {
  display: inline-block;
  margin: 16px;
}
mat-tab-group{
  color: black;
  border-radius: 5px 5px 0 0;
}
.stageHeader{
  height: 5rem;
  padding: 15px;
}
.stageHeader h3{
  font-size: 18px;
}
.stage{
  padding: 15px;
}

