<p-toast></p-toast>
<p-toolbar>
  <ng-template pTemplate="left">


    <p-button label="Formation" icon="pi pi-plus"  class="mr-2"></p-button>

    <p-button label="Evenement" icon="pi pi-plus" (click)="handleAddAction() " styleClass="p-button-warning" class="mr-2"></p-button>
  </ng-template>
  <ng-template pTemplate="right">
    <div class="my-2">
      <h4>Planning</h4>
    </div>
  </ng-template>
</p-toolbar>
<hr>
<div class="container">
  <div class="card">
    <full-calendar [options]="calendarOption" ></full-calendar>
  </div>
</div>


<!-- <p-dialog header="Header" [(visible)]="visibleFormation" 
          [closable]="false" [modal]="true" 
          [style]="{ width: '500px' }" (onHide)="onHide()"
          [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Formulaire Planning</span>
  </ng-template>
  <form [formGroup]="PlanningFormationForm">
    <div class="form first">
      <div class="details personnal">
        <div class="fields grid formgrid">

          <div class="input-field col-12 field mb-2">
            <label>Titre</label>
            <input type="text" formControlName="titre"
                   class="form-control p-inputtext w-full mb-2" placeholder="" required>
                   <app-valid-planning [entityField]="'titre'" [formGroup]="PlanningFormationForm">

                  </app-valid-planning>
          </div>

          <div class="input-field col-12 field mb-4">
            <label class="label">Objectif</label>
            <textarea pinputtextarea="" rows="3" 
                      class="p-inputtext p-component p-element form-control w-full"></textarea>
          </div>

          <div class="input-field col-12 field mb-2">
            <label class="label">Couleur</label>
            <select formControlName="color" class="form-control p-inputtext w-full mb-2" required>
              <option value=""> Rouge </option>
              <option value=""> Vert </option>
            </select>
            <app-valid-planning [entityField]="'color'" [formGroup]="PlanningFormationForm">

           </app-valid-planning>
         
          </div>

          <div class="input-field col-12 lg:col-6 field mb-2">
            <label class="label">Date Debut</label>
            <input type="date" class="input form-control p-inputtext w-full mb-2"
                formControlName="dateDebut"   placeholder="" required>
                <app-valid-planning [entityField]="'dateDebut'" [formGroup]="PlanningFormationForm">

                </app-valid-planning>
         

          </div>

          <div class="input-field col-12 lg:col-6 field mb-2">
            <label class="label">Date Fin</label>
            <input type="date" class="input form-control p-inputtext w-full mb-2"
                formControlName="dateFin"   placeholder="" required>
                <app-valid-planning [entityField]="'dateFin'" [formGroup]="PlanningFormationForm">

               </app-valid-planning>
         
          </div>

         <div class="input-field col-12 lg:col-6 field mb-4">
            <label class="label">Ville</label>
            <input type="text" class="input form-control p-inputtext w-full mb-4"
                   placeholder="" required>
          </div>
          <div class="input-field col-12 lg:col-6 field mb-4">
            <label class="label">Ville</label>
            <input type="text" class="input form-control p-inputtext w-full mb-4"
                   placeholder="" required>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">

    <div  class="flex justify-content-between gap-3">

      <button  pbutton="" pripple="" label="Enregistrer" icon="pi pi-fw pi-check"
               class="p-element p-ripple p-button-outlined p-button-success flex-1 p-button p-component"
      ><span
        class="p-button-icon p-button-icon-left pi pi-fw pi-check" aria-hidden="true"></span><span
        class="p-button-label">Suivant</span><span class="p-ink"></span></button>
      <button  pbutton="" pripple="" label="Discard" icon="pi pi-times" (click)="close()"
               class="p-element p-ripple p-button-danger flex-1 p-button-outlined p-button p-component" (click)="close()"><span
        class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span><span
        class="p-button-label">Annuler</span><span class="p-ink"></span></button>
    </div>
  </ng-template>
</p-dialog>

<p-dialog header="Header" [(visible)]="visibleEvenement" 
          [closable]="false" [modal]="true" 
          [style]="{ width: '500px' }" (onHide)="onHide()"
          [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Formulaire Planning</span>
  </ng-template>
  <form [formGroup]="PlanningEvenementForm">
    <div class="form first">
      <div class="details personnal">
        <div class="fields grid formgrid">

          <div class="input-field col-12 field mb-2">
            <label>Titre</label>
            <input type="text" formControlName="evenement"
                   class="form-control p-inputtext w-full mb-2" placeholder="" required>
                   <app-valid-planning [entityField]="'evenement'" [formGroup]="PlanningEvenementForm">

                   </app-valid-planning>
         
          </div>

          <div class="input-field col-12 field mb-4">
            <label class="label">Objectif</label>
            <textarea pinputtextarea="" rows="3"
                      class="p-inputtext p-component p-element form-control w-full"></textarea>
          </div>

          <div class="input-field col-12 lg:col-6 mb-2">
            <label class="label">Couleur</label>
            <select formControlName="color" class="form-control p-inputtext w-full mb-2" required>
              <option value=""> Jaune </option>
              <option value=""> Vert </option>
            </select>
            <app-valid-planning [entityField]="'color'" [formGroup]="PlanningEvenementForm">

            </app-valid-planning>
         
          </div>
          <div class="input-field col-12 lg:col-6 mb-2">
            <label class="label">Salle</label>
            <select formControlName="idSalle" class="form-control p-inputtext w-full mb-2" required>
              <option *ngFor="let salle of salles" [value]="salle?.idSalle">{{salle?.nom}}</option>
           
            </select>
            <app-valid-planning [entityField]="'color'" [formGroup]="PlanningEvenementForm">

            </app-valid-planning>
         
          </div>

          <div class="input-field col-12 lg:col-6 field mb-2">
            <label class="label">Date Debut</label>
            <input type="date" class="input form-control p-inputtext w-full mb-2"
                 formControlName="dateDebut"  placeholder="" required>
                 <app-valid-planning [entityField]="'dateFin'" [formGroup]="PlanningEvenementForm">

                 </app-valid-planning>
         

          </div>

          <div class="input-field col-12 lg:col-6 field mb-2">
            <label class="label">Date Fin</label>
            <input type="date" class="input form-control p-inputtext w-full mb-2"
                 formControlName="dateFin"  placeholder="" required>
                 <app-valid-planning [entityField]="'dateFin'" [formGroup]="PlanningEvenementForm">

                 </app-valid-planning>
         
          </div>

                    <div class="input-field col-12 lg:col-6 field mb-2">
                      <label class="label">Heure Debut</label>
                      <input type="time" class="input form-control p-inputtext w-full mb-2"
                           formControlName="heureDebut"  placeholder="" required>
                           <app-valid-planning [entityField]="'heureDebut'" [formGroup]="PlanningEvenementForm">

                           </app-valid-planning>
         
                    </div>
                    <div class="input-field col-12 lg:col-6 field mb-2">
                      <label class="label">Heure Fin</label>
                      <input type="time" class="input form-control p-inputtext w-full mb-2"
                          formControlName="heureFin"   placeholder="" required>
                          <app-valid-planning [entityField]="'heureFin'" [formGroup]="PlanningEvenementForm">

                          </app-valid-planning>
         
                    </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">

    <div  class="flex justify-content-between gap-3">

      <button  pbutton="" pripple="" label="Enregistrer" icon="pi pi-fw pi-check" (click)="add()"
               class="p-element p-ripple p-button-outlined p-button-success flex-1 p-button p-component"
      ><span
        class="p-button-icon p-button-icon-left pi pi-fw pi-check" aria-hidden="true"></span><span
        class="p-button-label">Suivant</span><span class="p-ink"></span></button>
      <button  pbutton="" pripple="" label="Discard" icon="pi pi-times" (click)="close()"
               class="p-element p-ripple p-button-danger flex-1 p-button-outlined p-button p-component" (click)="close()"><span
        class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span><span
        class="p-button-label">Annuler</span><span class="p-ink"></span></button>
    </div>
  </ng-template>
</p-dialog> -->
