<p-dialog header="Header" [(visible)]="visible" [closable]="false" [modal]="true" [style]="{ width: '800px' }"
          [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <span class="text-xl font-bold">Formulaire Frais</span>
  </ng-template>
  <form [formGroup]="registrationForm">
    <div class="form first">
      <div class="details personnal">
        <hr>
        <div class="fields grid formgrid">
          <div class="input-field col-12 mb-2 lg:col-4 lg:mb-0">
            <label>Localisation</label>
            <select formControlName="localisation" class="form-control" required>
              <option>Zone Interieur du Pays</option>
              <option>Zone Pays Frontaliers</option>
              <option>Zone Afrique</option>
              <option>Zone Arique du Sud</option>
              <option>Zone Europe </option>
              <option>Zone Magreb</option>
              <option >Zone Asie</option>
              <option>Zone Amerique</option>
            </select>
            <app-valid-plan [entityField]="'localisation'" [formGroup]="registrationForm"></app-valid-plan>
          </div>
          <div class="input-field col-12 mb-2 lg:col-4 lg:mb-0">
            <label>Libelle</label>
            <select formControlName="libelle" class="form-control" required>
              <option >Frais de Mission</option>
              <option >Frais d'Hébergement</option>
              <option>Frais de Transport</option>
            </select>
            <app-valid-plan [entityField]="'libelle'" [formGroup]="registrationForm"></app-valid-plan>
          </div>
          <div class="input-field col-12 mb-2 lg:col-4 lg:mb-0">
            <label>Categorie</label>
            <select formControlName="categorie" class="form-control" required>
              <option>Directeur Général</option>
              <option>Directeur</option>
              <option>Cadres (C06-C09)</option>
              <option>Maitrise (C04-C05)</option>
              <option>Execution (C01-C03)</option>
            </select>
            <app-valid-plan [entityField]="'categorie'" [formGroup]="registrationForm"></app-valid-plan>
          </div>
          <div class="input-field col-12 mb-2 lg:col-4 lg:mb-0">
            <label>Durée</label>
            <select formControlName="dure" class="form-control" required>
              <option [value]="1" >Normale</option>
              <option [value]="5" >1 Semaine </option>
              <option [value]="10" >2 Semaine</option>
              <option [value]="21" > plus de 21 Jours</option>
            </select>
            <app-valid-plan [entityField]="'dure'" [formGroup]="registrationForm"></app-valid-plan>
          </div>
        </div>
        <div class="fields grid formgrid">
          <div class="input-field w-full">
            <label>Prix</label>
            <input type="number" formControlName="prix"
                   class="form-control" required>
                   <app-valid-plan [entityField]="'prix'" [formGroup]="registrationForm"></app-valid-plan>
          </div>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <div  class="flex justify-content-between gap-3">

      <button pbutton="" pripple="" label="Enregistrer" icon="pi pi-fw pi-check"
              class="p-element p-ripple p-button-outlined p-button-success flex-1 p-button p-component"
              [disabled]="registrationForm.invalid" (click)="handleSubmit()"
      ><span
        class="p-button-icon p-button-icon-left pi pi-fw pi-check" aria-hidden="true"></span><span
        class="p-button-label">Enregistrer</span><span class="p-ink"></span></button>

      <button  pbutton="" pripple="" label="Annuler" (click)="close()"
               icon="pi pi-times" mat-dialog-close
               class="p-element p-ripple p-button-danger flex-1 p-button-outlined p-button p-component"><span
        class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span><span
        class="p-button-label">Annuler</span><span class="p-ink"></span></button>
    </div>
  </ng-template>
</p-dialog>



<!--<div class="card">
  <div class="container">
    <div class="title"><header> Formulaire </header></div>
    <form [formGroup]="registrationForm">
      <div class="form first">
        <div class="details personnal">
          <hr>
          <div class="fields">

            <div class="input-field">
              <label>Localisation</label>
              <select formControlName="localisation" class="form-control" required>
                <option>Interieur du Pays</option>
                <option>Pays Frontaliers</option>
                <option>Zone Afrique</option>
                <option>Zone Arique du Sud</option>
                <option>Zone Europe </option>
                <option>Magreb</option>
                <option >Autres Continents</option>
              </select>
              <app-valid-plan [entityField]="'localisation'"
              [formGroup]="registrationForm"></app-valid-plan>
            </div>
            <div class="input-field">
              <label>Libelle</label>
              <select formControlName="libelle" class="form-control" required>
                <option >Frais de Mission</option>
                <option >Frais d'Hébergement</option>
                <option>Frais de Transport</option>
              </select>
              <app-valid-plan [entityField]="'libelle'"
              [formGroup]="registrationForm"></app-valid-plan>
            </div>

            <div class="input-field">
              <label>Categorie</label>
              <select formControlName="categorie" class="form-control" required>
                <option>Directeur Général</option>
                <option>Directeur</option>
                <option>Cadres (C06-C09)</option>
                <option>Maitrise (C04-C05)</option>
                <option>Execution (C01-C03)</option>
                <option>Tous</option>
              </select>
              <app-valid-plan [entityField]="'categorie'"
              [formGroup]="registrationForm"></app-valid-plan>
            </div>
            <div class="input-field">
              <label>Durée</label>
              <select formControlName="dure" class="form-control" required>
                <option [value]="0" >Par Jours</option>
                <option [value]="21" >De 21 Jours a 2 Mois</option>
                <option [value]="1" >Toute la durée (Formation)</option>
              </select>
              <app-valid-plan [entityField]="'dure'"
              [formGroup]="registrationForm"></app-valid-plan>
            </div>
          </div>
          <div class="fields1">
            <div class="input-field">
              <label>Prix</label>
              <input type="number" formControlName="prix"  
              class="form-control" placeholder="Entrez le prix correspondant" required>
              <app-valid-plan [entityField]="'prix'"
              [formGroup]="registrationForm"></app-valid-plan>
            </div>
          </div>
          <hr>
          <div  class="flex justify-content-between gap-3">

            <button  pbutton="" pripple="" label="Enregistrer" icon="pi pi-fw pi-check"
                    class="p-element p-ripple p-button-outlined p-button-success flex-1 p-button p-component"
                    [disabled]="registrationForm.invalid"
                    ><span
              class="p-button-icon p-button-icon-left pi pi-fw pi-check" aria-hidden="true"></span><span
              class="p-button-label">Enregistrer</span><span class="p-ink"></span></button>

              <button  pbutton="" pripple="" label="Annuler" 
                     matDialogClose icon="pi pi-times"
                      class="p-element p-ripple p-button-danger flex-1 p-button-outlined p-button p-component"><span
                class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span><span
                class="p-button-label">Annuler</span><span class="p-ink"></span></button>
          </div>
      

        </div>
      </div>
    </form>
  </div>
</div>-->




<!-- <div class="card">
  <div class="container">
    <div class="title"><header> Formulaire </header></div>
    <form [formGroup]="registrationForm">
      <div class="form first">
        <div class="details personnal">
          <hr>
          <div class="fields">

            <div class="input-field">
              <label>Localisation</label>
              <select formControlName="localisation" class="form-control" required>
                <option>Interieur du Pays</option>
                <option>Pays Frontaliers</option>
                <option>Zone Afrique</option>
                <option>Zone Arique du Sud</option>
                <option>Zone Europe </option>
                <option>Magreb</option>
                <option >Autres Continents</option>
              </select>
              <app-valid-plan [entityField]="'localisation'"
              [formGroup]="registrationForm"></app-valid-plan>
            </div>
            <div class="input-field">
              <label>Libelle</label>
              <select formControlName="libelle" class="form-control" required>
                <option >Frais de Mission</option>
                <option >Frais d'Hébergement</option>
                <option>Frais de Transport</option>
              </select>
              <app-valid-plan [entityField]="'libelle'"
              [formGroup]="registrationForm"></app-valid-plan>
            </div>

            <div class="input-field">
              <label>Categorie</label>
              <select formControlName="categorie" class="form-control" required>
                <option>Directeur Général</option>
                <option>Directeur</option>
                <option>Cadres (C06-C09)</option>
                <option>Maitrise (C04-C05)</option>
                <option>Execution (C01-C03)</option>
                <option>Tous</option>
              </select>
              <app-valid-plan [entityField]="'categorie'"
              [formGroup]="registrationForm"></app-valid-plan>
            </div>
            <div class="input-field">
              <label>Durée</label>
              <select formControlName="dure" class="form-control" required>
                <option [value]="0" >Par Jours</option>
                <option [value]="21" >De 21 Jours a 2 Mois</option>
                <option [value]="1" >Toute la durée (Formation)</option>
              </select>
              <app-valid-plan [entityField]="'dure'"
              [formGroup]="registrationForm"></app-valid-plan>
            </div>
          </div>
          <div class="fields1">
            <div class="input-field">
              <label>Prix</label>
              <input type="number" formControlName="prix"  
              class="form-control" placeholder="Entrez le prix correspondant" required>
              <app-valid-plan [entityField]="'prix'"
              [formGroup]="registrationForm"></app-valid-plan>
            </div>
          </div>
          <hr>
          <div  class="flex justify-content-between gap-3">

            <button  pbutton="" pripple="" label="Enregistrer" icon="pi pi-fw pi-check"
                    class="p-element p-ripple p-button-outlined p-button-success flex-1 p-button p-component"
                    [disabled]="registrationForm.invalid"
                    ><span
              class="p-button-icon p-button-icon-left pi pi-fw pi-check" aria-hidden="true"></span><span
              class="p-button-label">Enregistrer</span><span class="p-ink"></span></button>

              <button  pbutton="" pripple="" label="Annuler" 
                     matDialogClose icon="pi pi-times"
                      class="p-element p-ripple p-button-danger flex-1 p-button-outlined p-button p-component"><span
                class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span><span
                class="p-button-label">Annuler</span><span class="p-ink"></span></button>
          </div>
      

        </div>
      </div>
    </form>
  </div>
</div>
 -->