
<div class="card">
    <div class="container">
    <div class=""><h3 class="text-center"> Formulaire de changement du Mot de passe</h3></div>
    <form [formGroup]="changePasswordForm">
        <div class="form first">
            <div class="details personnal">
                <div class="fields">
                    <div class="input-field">
                        <label>Ancien Mot de passe</label>
                        <input type="password" class="form-control" formControlName="oldPassword" 
                        class="form-control"
                        placeholder="Entrez l'ancien mot de passe" required>
                        
                      <app-form-validations [entityField]="'oldPassword'" 
                      [formGroup]="changePasswordForm"></app-form-validations> 
                  </div>
                    </div>
                    <div class="fields">
                    <div class="input-field">
                        <label>Nouveau Mot de passe</label>
                        <input type="password" class="form-control" formControlName="newPassword" 
                        placeholder="Entrez le nouveau mot de passe" required>
                      <app-form-validations [entityField]="'newPassword'" 
                      [formGroup]="changePasswordForm"></app-form-validations> 
                    </div>
                    </div>
                    <div class="fields">
                    <div class="input-field">
                        <label>Confimer le nouveau Mot de passe</label>
                        <input type="password" class="form-control" formControlName="confirmPassword"
                         placeholder="Entrez le mot de passe de confirmation" required>
                         <app-form-validations [entityField]="'confirmPassword'" 
                         [formGroup]="changePasswordForm"></app-form-validations> 
                    </div>
                    </div>
                </div>
                <hr>
                <div  class="flex justify-content-between gap-3">

                    <button  pbutton="" pripple="" label="Enregistrer" icon="pi pi-fw pi-check"
                            class="p-element p-ripple p-button-outlined p-button-success flex-1 p-button p-component"
                            [disabled]="changePasswordForm.invalid"
                            (click)="handleChangePasswordSubmit()"
                            ><span
                      class="p-button-icon p-button-icon-left pi pi-fw pi-check" aria-hidden="true"></span><span
                      class="p-button-label">Enregistrer</span><span class="p-ink"></span></button>
    
                      <button  pbutton="" pripple="" label="Annuler" 
                             matDialogClose icon="pi pi-times"
                              class="p-element p-ripple p-button-danger flex-1 p-button-outlined p-button p-component"><span
                        class="p-button-icon p-button-icon-left pi pi-times" aria-hidden="true"></span><span
                        class="p-button-label">Annuler</span><span class="p-ink"></span></button>
                  </div>
            </div>
    </form>
</div>
</div>