<mat-card>
  <mat-card-header class="align-items-center"> <h3>Accueil</h3> </mat-card-header>
</mat-card>
<hr>
<div class="grid">
  <div class="col-12 md:col-6 xl:col-3">
    <div class="card h-full flex flex-column align-items-center justify-content-center"><i
      class="bi bi-clipboard text-primary text-4xl mb-4"></i><span class="text-900 text-lg mb-4 font-medium">Formation(s)</span><span
      class="text-900 text-2xl text-secondary font-bold">Total: {{dataSource?.formation}}</span></div>
  </div>
  <div class="col-12 md:col-6 xl:col-3">
    <div class="card h-full flex flex-column align-items-center justify-content-center"><i
      class="pi pi-user text-secondary text-4xl mb-4"></i><span class="text-900 text-lg mb-4 font-medium">Agent(s)</span><span
      class="text-900 text-2xl text-secondary font-bold">Total: {{dataSource?.personnel}}</span></div>
  </div>
  <div class="col-12 md:col-6 xl:col-3">
    <div class="card h-full flex flex-column align-items-center justify-content-center"><i
      class="bi bi-person-badge text-danger text-4xl mb-4"></i><span class="text-900 text-lg mb-4 font-medium">Utilisateur(s)</span><span
      class="text-900 text-2xl text-danger font-bold">Total  :{{dataSource?.user}}</span></div>
  </div>
  <div class="col-12 md:col-6 xl:col-3">
    <div class="card h-full flex flex-column align-items-center justify-content-center"><i
      class="bi bi-house-door text-info text-4xl mb-4"></i><span class="text-900 text-lg mb-4 font-medium">Service(s)</span><span
      class="text-900 text-2xl text-info font-bold">Total  :{{dataSource?.entite + dataSource?.sousEntite}}</span></div>
  </div>
  <div class="col-12 md:col-6 xl:col-3">
    <div class="card h-full flex flex-column align-items-center justify-content-center"><i
      class="bi bi-house-door text-warning text-4xl mb-4"></i><span class="text-900 text-lg mb-4 font-medium">Organisme(s) de Formation</span><span
      class="text-900 text-2xl text-warning font-bold">Total  :{{dataSource?.organisme}}</span></div>
  </div>
  <div class="col-12 md:col-6 xl:col-3">
    <div class="card h-full flex flex-column align-items-center justify-content-center"><i
      class="bi bi-house-door text-success text-4xl mb-4"></i><span class="text-900 text-lg mb-4 font-medium">Salle(s)</span><span
      class="text-900 text-2xl text-success font-bold">Total  :{{dataSource?.salle}}</span></div>
  </div>
  <div class="col-12 md:col-6 xl:col-3">
    <div class="card h-full flex flex-column align-items-center justify-content-center"><i
      class="bi bi-people text-danger text-4xl mb-4"></i>
      <span class="text-900 text-lg mb-4 font-medium">Postulant(s)</span><span
      class="text-900 text-2xl text-success font-bold">Total  :{{dataSource?.postulant}}</span></div>
  </div>
  <div class="col-12 md:col-6 xl:col-3">
    <div class="card h-full flex flex-column align-items-center justify-content-center"><i
      class="bi bi-clipboard text-warning text-4xl mb-4"></i><span class="text-900 text-lg mb-4 font-medium">Demande(s)</span><span
      class="text-900 text-2xl text-success font-bold">Total  :{{dataSource?.demande}}</span></div>
  </div>
</div>

<!--
<div class="col-12 md:col-6 xl:col-3">
  <div class="card h-full"><span class="font-semibold text-lg">Revenue</span>
    <div class="flex justify-content-between align-items-start mt-3">
      <div class="w-6"><span class="text-4xl font-bold text-900">$4500</span>
        <div class="text-green-500"><span class="font-medium">+20%</span><i class="pi pi-arrow-up text-xs ml-2"></i>
        </div>
      </div>
      <div class="w-6">
        <svg width="100%" viewBox="0 0 115 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1 35.6498L2.24444 32.4319C3.48889 29.214 5.97778 22.7782 8.46667 20.3627C10.9556 17.9473 13.4444 19.5522 15.9333 21.7663C18.4222 23.9803 20.9111 26.8035 23.4 30.6606C25.8889 34.5176 28.3778 39.4085 30.8667 37.2137C33.3556 35.0189 35.8444 25.7383 38.3333 26.3765C40.8222 27.0146 43.3111 37.5714 45.8 38.9013C48.2889 40.2311 50.7778 32.3341 53.2667 31.692C55.7556 31.0499 58.2444 37.6628 60.7333 39.4617C63.2222 41.2607 65.7111 38.2458 68.2 34.9205C70.6889 31.5953 73.1778 27.9597 75.6667 23.5955C78.1556 19.2313 80.6444 14.1385 83.1333 13.8875C85.6222 13.6365 88.1111 18.2272 90.6 20.2425C93.0889 22.2578 95.5778 21.6977 98.0667 18.8159C100.556 15.9341 103.044 10.7306 105.533 7.37432C108.022 4.01806 110.511 2.50903 111.756 1.75451L113 1"
            style="stroke-width: 1px; stroke: var(&#45;&#45;primary-color);"></path>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="insight">
  &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;Debut formation-&#45;&#45;&#45;&#45;&ndash;&gt;
  <div class="container my-6">
    <p-accordion [multiple]="false" class="block">
      <div class="grid">
        <div class="col-12 md:col-6" >
          <p-accordionTab>
            <ng-template pTemplate="header">
              <div class="flex align-items-center">
                <span class="vertical-align-middle">Agents</span>
              </div>
            </ng-template>
            <ng-template pTemplate="content">
              contenue
            </ng-template>
          </p-accordionTab>
        </div>

      </div>
    </p-accordion>
  </div>
  &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;Fin formation&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
  &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;Debut personnel-&#45;&#45;&#45;&#45;&ndash;&gt;
  &lt;!&ndash;<div class="row classAgent">
    <div class="col-4"><span class="pi pi-users"></span></div>
    <div class="col-8">
      <div class="row">
        <div class="col-8 titleAgents"> Agents</div>
        <div class="col-4">Total  :</div>
      </div>
    </div>
  </div>&ndash;&gt;
  <div class="container my-6">
    <p-accordion [multiple]="false" class="block">
      <div class="grid">
        <div class="col-12 md:col-6" >
          <p-accordionTab>
            <ng-template pTemplate="header">
              <div class="flex align-items-center">
                <span class="vertical-align-middle">Agents</span>
              </div>
            </ng-template>
            <ng-template pTemplate="content">
              contenue
            </ng-template>
          </p-accordionTab>
        </div>

      </div>
    </p-accordion>
  </div>
  &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;Fin personnel&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
  &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;Debut user-&#45;&#45;&#45;&#45;&ndash;&gt;
  &lt;!&ndash;<div class="row classUser">
    <div class="col-4"><span class="pi pi-user"></span></div>
    <div class="col-8">
      <div class="row">
        <div class="col-8 titleUser">Utilisateurs</div>
        <div class="col-4">Total  :</div>
      </div>
    </div>
  </div>&ndash;&gt;
  <div class="container my-6">
    <p-accordion [multiple]="false" class="block">
      <div class="grid">
        <div class="col-12 md:col-6" >
          <p-accordionTab>
            <ng-template pTemplate="header">
              <div class="flex align-items-center">
                <span class="vertical-align-middle">Agents</span>
              </div>
            </ng-template>
            <ng-template pTemplate="content">
              contenue
            </ng-template>
          </p-accordionTab>
        </div>

      </div>
    </p-accordion>
  </div>
  &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;Fin user&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;
  &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;Debut entite-&#45;&#45;&#45;&#45;&ndash;&gt;
  &lt;!&ndash;<div class="row classEntite">
    <div class="col-4"><span class="bi bi-house-door"></span></div>
    <div class="col-8">
      <div class="row">
        <div class="col-8 titleEntite">Directions / Departements</div>
        <div class="col-4">Total  :</div>
      </div>
    </div>
  </div>&ndash;&gt;
  <div class="container my-6">
    <p-accordion [multiple]="false" class="block">
      <div class="grid">
        <div class="col-12 md:col-6" >
          <p-accordionTab>
            <ng-template pTemplate="header">
              <div class="flex align-items-center">
                <span class="vertical-align-middle">Agents</span>
              </div>
            </ng-template>
            <ng-template pTemplate="content">
              contenue
            </ng-template>
          </p-accordionTab>
        </div>

      </div>
    </p-accordion>
  </div>
  &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;Fin entite&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;

  &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;Debut organisme-&#45;&#45;&#45;&#45;&ndash;&gt;
 &lt;!&ndash; <div class="row classOrga">
    <div class="col-4"><span class="bi bi-house-door"></span></div>
    <div class="col-8">
      <div class="row">
        <div class="col-8 titleOrga">Organismes de formation</div>
        <div class="col-4">Total  :</div>
      </div>
    </div>
  </div>&ndash;&gt;
  <div class="container my-6">
    <p-accordion [multiple]="false" class="block">
      <div class="grid">
        <div class="col-12 md:col-6" >
          <p-accordionTab>
            <ng-template pTemplate="header">
              <div class="flex align-items-center">
                <span class="vertical-align-middle">Agents</span>
              </div>
            </ng-template>
            <ng-template pTemplate="content">
              contenue
            </ng-template>
          </p-accordionTab>
        </div>

      </div>
    </p-accordion>
  </div>
  &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;Fin organisme&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;

  &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;Debut Salle-&#45;&#45;&#45;&#45;&ndash;&gt;
 &lt;!&ndash; <div class="row class">
    <div class="col-4"><span class="bi bi-house-door"></span></div>
    <div class="col-8">
      <div class="row">
        <div class="col-8 title">Salle</div>
        <div class="col-4">Total  :</div>
      </div>
    </div>
  </div>&ndash;&gt;
  <div class="container my-6">
    <p-accordion [multiple]="false" class="block">
      <div class="grid">
        <div class="col-12 md:col-6" >
          <p-accordionTab>
            <ng-template pTemplate="header">
              <div class="flex align-items-center">
                <span class="vertical-align-middle">Agents</span>
              </div>
            </ng-template>
            <ng-template pTemplate="content">
              contenue
            </ng-template>
          </p-accordionTab>
        </div>

      </div>
    </p-accordion>
  </div>
  &lt;!&ndash;-&#45;&#45;&#45;&#45;&#45;&#45;Fin Salle&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;

</div>

<div class="border-1 surface-border surface-card border-round py-7 px-4 md:px-7 z-1">
  <div class="mb-4">
    <div class="text-900 text-xl font-bold mb-2">Log in</div>
    <span class="text-600 font-medium">Please enter your details</span></div>
  <div class="flex flex-column"><span class="p-input-icon-left w-full mb-4"><i class="pi pi-envelope"></i><input
    id="email" type="text" pinputtext="" placeholder="Email"
    class="p-inputtext p-component p-element w-full md:w-25rem"></span><span class="p-input-icon-left w-full mb-4"><i
    class="pi pi-lock"></i><input id="password" type="password" pinputtext="" placeholder="Password"
                                  class="p-inputtext p-component p-element w-full md:w-25rem"></span>
    <div class="mb-4 flex flex-wrap gap-3">
      <div>
        <p-checkbox name="checkbox" value="val" styleclass="mr-2" class="p-element ng-untouched ng-pristine ng-valid">
          <div class="mr-2 p-checkbox p-component">
            <div class="p-hidden-accessible"><input type="checkbox" value="val" name="checkbox" aria-checked="false">
            </div>
            <div class="p-checkbox-box"><span class="p-checkbox-icon"></span></div>
          </div>&lt;!&ndash;&ndash;&gt;</p-checkbox>
        <label  class="text-900 font-medium mr-8">Remember Me</label></div>
      <a
        class="text-600 cursor-pointer hover:text-primary cursor-pointer ml-auto transition-colors transition-duration-300">Reset
        password</a></div>
    <button pbutton="" pripple="" label="Log In" class="p-element w-full p-button p-component" tabindex="0"><span
      class="p-button-label">Log In</span></button>
  </div>
</div>
-->
